.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 581px;
  width: 96%;
  height: 96%;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
  overflow: auto;
  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}

.box-close-svg {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--black-color);

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .box-close-svg:hover & {
    fill: var(--btn-hero-hover);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: var(--description-color);

  margin-bottom: 4px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.modal-form__input {
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */

  letter-spacing: 0.01em;
  margin-bottom: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--main-acent-color);

    & ~ .svg-form {
      fill: var(--main-acent-color);
    }
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.input-box {
  position: relative;
}

.svg-form {
  display: inline-block;
  position: absolute;
  left: 12px;
  transform: translateY(50%);
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.modal-form__textarea {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;
  margin-bottom: 10px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--main-acent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.policy {
  text-align: center;
}

.modal-form__chek {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form__label--chek {
  display: inline-block;
  position: relative;
  padding-left: 23px;
  padding-top: 2px;
  margin-bottom: 30px;
  color: var(--description-color);
  cursor: pointer;
}

.modal-form__input--chek {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__chekbox {
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input--chek:focus + & {
    border: 2px solid var(--main-acent-color);
  }

  .modal-form__input--chek:checked:focus + & {
    border: 2px solid var(--main-acent-color);
    background-color: var(--main-acent-color);
  }

  .modal-form__input--chek:checked + & {
    border: 2px solid var(--main-acent-color);
    background-color: var(--main-acent-color);
  }
}

.modal-form__chek-svg {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__chek:checked ~ & {
    fill: var(--white-color);
  }
}

.modal-form__policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: var(--description-color);

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__policy-link {
  color: var(--main-acent-color);
  transition: color 250ms cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    color: var(--btn-link-hover);
  }
}

.modal-form__policy-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--main-acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  transition: backgroun-color 250ms cubic-bezier(0.23, 1, 0.32, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-hero-hover);
  }
}
