html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: inherit;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.svg {
    fill: currentColor;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--description-color);
    background-color: var(--white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}