:root {
    --title-color: #212121;
    --description-color: #757575;
    --white-color: #fff;
    --main-acent-color: #2196f3;
    --bg-white-color: #f5f4fa;
    --bg-gray-color: #2f303a;
    --black-color: #000;
    --footer-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ececec;
    --btn-hero-hover: #188ce8;
    --btn-link-hover: #1e6eaf;
    --icon-color: #afb1b8;
    --bg-footer-icon-color: #43444d;
    --how-overlay-color: rgba(47, 48, 58, 0.8);
    --bg-backdrop: rgba(0, 0, 0, 0.2);
}